@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a asp-page="/lesson/insert">Inserisci</a>
<a asp-page="/classrooms/calendar">Calendario</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Materia</th>
            <th scope="col">Insegnante</th>
            <th scope="col">Aula</th>
            <th scope="col">Inizio</th>
            <th scope="col">Fine</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lezione in Model.Lessons)
        {
        <tr>
            <th scope="row">@lezione.Id</th>
            <td>@lezione.Subject.Name</td>
            <td>@lezione.Teacher.Name @lezione.Teacher.Surname</td>
            <td>@lezione.Classroom.GetClassroomId()</td>
            <td>@lezione.StartDate </td>
            <td>@lezione.GetEndDate() </td>
        </tr>
        }
    </tbody>
</table>


